<header ng-switch on="$location.path().indexOf('/CbsIlces/new') > -1">
    <h3 ng-switch-when="true">(Yeni)</h3>
    <h3 ng-switch-when="false">(Değiştir)</h3>
</header>
<form id="CbsIlceForm" name="CbsIlceForm" class="form-horizontal" role="form">

    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Bir hata oluştu lütfen tekrar deneyiniz.
    </div>
    
    <div class="form-group" ng-class="{'has-error': CbsIlceForm.adi.$invalid}">
        <label for="adi" class="col-sm-2 control-label">İlçe Adı</label>
        <div id="adiControls" class="col-sm-10">
            <input id="adi" name="adi" type="text" ng-maxlength="50" class="form-control" ng-model="cbsIlce.adi" placeholder="İlçe adı giriniz."></input>
            <span class="help-block error" ng-show="CbsIlceForm.adi.$error.maxlength">50 karekter olmalı!</span>
        </div>
    </div>


    <div class="form-group" ng-class="{'has-error': CbsIlceForm.cbsIl.$invalid}">
        <label for="cbsIl" class="col-sm-2 control-label">İl Adı</label>
        <div id="cbsIlControls" class="col-sm-10">
        <select id="cbsIl" name="cbsIl" class="form-control" ng-model="cbsIlSelection" ng-options="c.text for c in cbsIlSelectionList"  >
            <option value="">İl seçiniz</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CbsIlceForm.stNo.$invalid}">
        <label for="stNo" class="col-sm-2 control-label">Tuik No</label>
        <div id="stNoControls" class="col-sm-10">
            <input id="stNo" name="stNo" type="number" class="form-control" ng-model="cbsIlce.stNo" placeholder="Tuik no adı giriniz."></input>
            <span class="help-block error" ng-show="CbsIlceForm.stNo.$error.number">Sayı girmelisiniz!</span>
        </div>
    </div>
    
    <div class="form-group" ng-class="{'has-error': CbsIlceForm.uavtNo.$invalid}">
        <label for="uavtNo" class="col-sm-2 control-label">Uavt No</label>
        <div id="uavtNoControls" class="col-sm-10">
            <input id="uavtNo" name="uavtNo" type="number" class="form-control" ng-model="cbsIlce.uavtNo" placeholder="Enter the CbsIlce Uavt No"></input>
            <span class="help-block error" ng-show="CbsIlceForm.uavtNo.$error.number">Sayı girmelisiniz!</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCbsIlce" name="saveCbsIlce" class="btn btn-primary" ng-disabled="isClean() || CbsIlceForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Kaydet</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Vazgeç</button>
            <button id="deleteCbsIlce" name="deleteCbsIlce" class="btn btn-danger" ng-show="cbsIlce.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Sil</button>
        </div>
    </div>
</form>