<p/>
<hr/>
<div>
    <form id="CbsBinaSearch" name="CbsBinaSearch" class="form-horizontal" role="form">
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        	<a id="Create" name="Create" class="btn btn-primary" href="#/CbsBinas/new"><span class="glyphicon glyphicon-plus-sign"></span> Yeni Kayıt</a>
        </div>
    </div>
    
    <div class="form-group" ng-class="{'has-error': CbsBinaSearch.cbsIlce.$invalid}">
        <label for="cbsIlce" class="col-sm-2 control-label">Bağlı İlçe Adı</label>
        <div id="cbsIlceControls" class="col-sm-10">
        <select id="cbsIlce" name="cbsIlce" required class="form-control" ng-model="cbsIlceSelection" ng-options="c as c.adi for c in cbsIlceList"  >
            <option value="">İlçe Seçiniz.</option>
        </select>
        </div>
    </div>
           
    <div class="form-group" ng-class="{'has-error': CbsBinaSearch.cbsMahalle.$invalid}">
        <label for="cbsMahalle" class="col-sm-2 control-label">Bağlı Mahalle Adı</label>
        <div id="cbsMahalleControls" class="col-sm-10">
        <select id="cbsMahalle" name="cbsMahalle" required class="form-control" ng-model="cbsMahalleSelection" ng-options="c as c.adi for c in cbsMahalleList"  >
            <option value="">Mahalle Seçiniz.</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CbsBinaSearch.cbsSokak.$invalid}">
        <label for="cbsSokak" class="col-sm-2 control-label">Bağlı Sokak Adı</label>
        <div class="col-sm-10">
            <select id="cbsSokak" name="cbsSokak" required class="form-control" ng-model="cbsSokakSelection" ng-options="c as c.adi for c in cbsSokakList">
                <option value="">Sokak seçiniz.</option>
            </select>
        </div>
    </div>
        
    <div class="form-group">
        <label for="binaAdi" class="col-sm-2 control-label">Bina Adı</label>
        <div class="col-sm-10">
            <input id="binaAdi" name="binaAdi" class="form-control" type="text" ng-model="search.binaAdi" placeholder="Bina adı giriniz."></input>
        </div>
    </div>

    <div class="form-group">
        <label for="kapiNo" class="col-sm-2 control-label">Kapı No</label>
        <div class="col-sm-10">
            <input id="kapiNo" name="kapiNo" class="form-control" type="text" ng-model="search.kapiNo" placeholder="kapı no giriniz."></input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a id="Search" name="Search" class="btn btn-primary" ng-disabled="CbsBinaSearch.$invalid" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Yenile</a>
        </div>
    </div>
       
    </form>
</div>
<div id="search-results">
    <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                	<th>Bina Id</th>
                	<th>Kapı Türü</th>
                	<th>Kapı No</th>
                    <th>Bina Adı</th>
                    <th>Uavt No</th>
                    <th>Düzenle</th>
                    <th>Bağımsız Birimler</th>
                    <th>Bina Resimleri</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                	<td>{{result.id}}</td>
                	<td>{{result.kapiTuru}}</td>
                	<td>{{result.kapiNo}}</td>
                    <td>{{result.binaAdi}}</td>
                    <td>{{result.uavtNo}}</a></td>
                    <td><a href="#/CbsBinas/edit/{{result.id}}"><img src="img/pencil.png" border="0"></a></td>
                    <td><a href ng-click="getBB(result.id)"><span class="glyphicon glyphicon-home"></span></a></td>
                    <td><a href ng-click="getResimler(result.id)"><span class="glyphicon glyphicon-picture"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
    <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
<div>
